.MyModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.MyModalActive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MyModalContent {
  background: #ffffff;
  min-width: 250px;
  border-radius: 8px;
  padding: 25px;
}